<template>
    <div>
        <div v-if="errorObj && errorObj.has('matrixOne')"
             class="text-danger">
            {{ errorObj.get('matrixOne') }}
        </div>
        <div v-if="!resultsMatrix">
            <label>Number of rows</label>
            <input type="number" class="form-control" v-model="noOfRows">
            <hr>
            <label>Number of cols</label>
            <input type="number" class="form-control" v-model="noOfCols">
            <button class="btn btn-primary mt-4" @click="buildMatrix">Build {{ matrixName }} Matrix</button>
        </div>
        <div v-if="matrix.length > 0">
            <p class="display-4">
                {{ matrixName }} Matrix
            </p>
            <div class="d-flex justify-content-center" v-for="(row, index) in matrix" :key="index">
                <div v-for="(col, i) in row" :key="i">
                    <input type="number" class="form-control" :type="inputType" v-model="row[i]"
                           :readonly="resultsMatrix !== undefined">
                    <div v-if="errorObj && errorObj.has(errorNamePrefix + '.' + parseInt(index) + '.' + parseInt(i))"
                         class="text-danger">
                        {{ errorObj.get(errorNamePrefix + '.' + parseInt(index) + '.' + parseInt(i)) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Matrix",
        props: ['matrixName', 'errorObj', 'inputType', 'resultsMatrix'],
        data() {
            return {
                noOfRows: 0,
                noOfCols: 0,
                matrix: [],
                errorNamePrefix: null
            }
        },
        created() {
            if (this.resultsMatrix !== undefined) {
                this.matrix = this.resultsMatrix;
            } else {
                this.errorNamePrefix = (this.matrixName === 'First' ? 'matrixOne' : 'matrixTwo');
            }
        },
        methods: {
            buildMatrix() {
                this.matrix = Array(this.noOfRows);
                for (let i = 0; i < this.noOfRows; i++) {
                    this.matrix[i] = new Array(parseInt(this.noOfCols));
                }
                this.$emit('matrix-built', this.matrix);
            }
        }
    }
</script>

<style>
    label {
        font-weight: 900;
    }
</style>
