<template>
    <div>
        <p class="display-3">
            Matrix Multiplier
        </p>
        <matrix matrixName="First" input-type="number" :error-obj="multiplicationErrors"
                @matrix-built="matrixOne = $event"/>

        <matrix matrixName="Second" input-type="number" :error-obj="multiplicationErrors"
                @matrix-built="matrixTwo = $event" v-if="matrixOne.length > 0"/>

        <button class="btn btn-lg btn-success mt-4" @click="multiply" v-if="matrixTwo.length > 0">Multiply</button>


        <div v-if="resultInAlpha.length > 0">
            <matrix matrixName="Results in Alphabets" :results-matrix="resultInAlpha" input-type="text"/>
        </div>

        <div v-if="resultInNumbers.length > 0">
            <matrix matrixName="Results in Numbers" :results-matrix="resultInNumbers" input-type="number"/>
        </div>
    </div>
</template>

<script>
    import {Errors} from "../classes/Errors";
    import Matrix from "./Matrix";

    export default {
        name: "MatrixCalculator",
        components: {Matrix},
        data() {
            return {
                matrixOne: [],
                // matrixOne: [
                //     [0, 3, 5],
                //     [5, 5, 2]
                // ],
                matrixTwo: [],
                // matrixTwo: [
                //     [3, 4],
                //     [3, -2],
                //     [4, -2]
                // ],
                resultInNumbers: [],
                resultInAlpha: [],
                multiplicationErrors: new Errors(),
                finished: false
            }
        },
        methods: {
            multiply() {
                let data = {
                    matrixOne: this.matrixOne,
                    matrixTwo: this.matrixTwo,
                }
                axios.post('api/matrices/multiply', data).then(response => {
                    for (let i = 0; i < response.data.resultInAlpha.length; i++) {
                        Vue.set(this.resultInAlpha, i, response.data.resultInAlpha[i]);
                        Vue.set(this.resultInNumbers, i, response.data.resultInNumbers[i]);
                    }
                }).catch(error => {
                    this.multiplicationErrors.record(error.response.data.errors);
                })
            },
            restart() {
                window.location.reload();
            }
        },
    }
</script>
